<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

body{
font-family:Arial;
text-align:center;
background:#f0f0f0;
}

.botao{
background:white;
margin:20px;
padding:20px;
border-radius:10px;
box-shadow:0px 0px 5px gray;
display:inline-block;
}

a{
text-decoration:none;
font-size:20px;
}

</style>

</head>

<body>

<h1>Escolha o Bimestre</h1>

<div class="botao">
<a href="/turmas/1">1º Bimestre</a>
</div>

<div class="botao">
<a href="/turmas/2">2º Bimestre</a>
</div>

<div class="botao">
<a href="/turmas/3">3º Bimestre</a>
</div>

<div class="botao">
<a href="/turmas/4">4º Bimestre</a>
</div>

</body>

</html>