<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

body{
font-family:Arial;
text-align:center;
background:#f0f0f0;
}

.botao{
background:white;
margin:20px;
padding:20px;
border-radius:10px;
box-shadow:0px 0px 5px gray;
display:inline-block;
}

a{
text-decoration:none;
font-size:20px;
}

</style>

</head>

<body>

<h1>Escolha o nível de ensino</h1>

<div class="botao">

<a href="/fundamental">Ensino Fundamental</a>

</div>

<div class="botao">

<a href="/medio">Ensino Médio</a>

</div>

</body>

</html>